<h1><%= @student.to_s%></h1>
<% if @student.active %>
"This student is currently inactive."
<%else%>
"This student is currently active."
<%end%>
<%= link_to "change active status", activate_student_path(@student) %>